body{
	font-size: 75%;
	padding-bottom: 10rem;
}

svg{
	border: 1px solid #ccc;
}
.feature {
	fill: #bbb;
	stroke: grey;
	stroke-width: 1px;
	stroke-linejoin: round;
}
.feature:hover {
	fill: #ccc;
}
.mesh {
	fill: none;
	stroke: lightgrey;
	stroke-width: 2px;
	stroke-linejoin: round;
}
circle{
	opacity: 0.5;
}
circle:hover{
	cursor: pointer;
	fill: #fff;
}

.form-control{
	font-family: Consolas, monospace;
	font-size: smaller;
}
pre{
	font-size: smaller;
}

[v-on:click]{
	cursor: pointer;
}

[v-cloak]{
	display: none;
}

.svg-wrapper{
	position: relative;
	max-width: 100%;
	overflow-x: auto;
}
.svg-loading{
	position: absolute;
	bottom: 0;
	left: 0;
}

.facet-values-wrapper{
	max-height: 20em;
	overflow-y: auto;
}
.facet-value-td--title {
	width: 45%;
}
.facet-value-td--var{
	width: 25%;
}
.facet-value-bar{
	height: 1em;
	background: #ccc;
}

.btn-group-xs>.btn,
.btn-xs {
	padding: .1rem .2rem;
	font-size: .6rem;
	line-height: 1.25;
	border-radius: .1rem;
}
.ddg-answer__image{
	max-height: 125px;
	max-width: 125px;
}
.w2c-mobile-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(255,255,255,0.5);
}
.w2c-mobile-nav .btn:first-child{
	margin-top: 8px;
}
img{
	max-width: 100%;
}
iframe{
	max-width: 100%;;
}
.w2c-logo{
	max-width: 40px;
}

.compare-scroll-table td:before {
	content: attr(title);
	font-size: 9px;
	opacity: .5;
}